---
environment:
  type: "object"
  required: true
  properties:
    default:
      type: "object"
      properties:
        username:
          description: "Username used to authenticate."
          type: "string"
          secret: false
          required: true
          default: "admin"
        password:
          description: "Password used to authenticate."
          type: "string"
          secret: true
          required: false
          default: "password"
        enable:
          description: "Enable password."
          type: "string"
          secret: true
          required: false
          default: "password"
        b64password:
          description: "Password used to authenticate base64d."
          type: "string"
          secret: true
          required: false
        b64enable:
          description: "Enable password base64d."
          type: "string"
          secret: true
          required: false
        method:
          description: "Connection method."
          type: "string"
          secret: false
          default: "ssh"
          enum:
            - "ssh"
            - "telnet"
          required: true
